body{
display: flex;
margin: 0;
}

main{
    background-color: rgb(143, 143, 240);
    width: 30%; 
}

aside{
    width: 80%;
    background-color: rgb(228, 111, 111);
}

section{
    margin: 3em;

}
ul{
    display: flex;
    list-style: none;
    gap:14em;
}